html {
  height: 100%;
}
body {
  background: lavender;
  padding: 0 1em;
  font-family: Raleway, sans-serif;
}
#global {
  font-size: 18px;
  max-width: 80em;
  min-height: 100vh;
  margin: 0 auto;
  border: 3px solid #303030;
  border-width: 0 3px;
  overflow: hidden;
  background: lavenderblush;
  position: relative;
}

#banner {
  background-position: center;
  background-size: cover;
  background-image: url("../img/banniere.jpg");
  min-height: 300px;
}

main {
  padding: 2em 1em 1.5em;
}
h1,h2,h3,h4 {
  font-family: 'Kaushan Script', cursive;
  margin: 1em 0 0;
}
img {
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  #global {
    font-size: 15px;
  }
  main {
    padding-top: 1.5em;
  }
}



/*
 * HEADER
 */
header {
  background: #303030;
  margin: 0;
  padding: 0;
  color: gold;
  display: block;
  letter-spacing: 2px;
  height: 100px;
  border-bottom: 3px solid #303030;
  border-top: 3px solid #303030;
}
#logo-tigre {
  background: gold;
  padding: 1em;
  border-radius: 0 0 1em 0;
  border: 3px solid #303030;
  border-width: 0 3px 3px 0;
  float: left;
}
h1 {
  margin: 0;
  padding: 0.1em 0 0 0.4em;
  font-size: 40px;
  line-height: 46px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 800px) {
  header {
    height: 80px;
  }
  #logo-tigre {
    padding: 0.7em;
    width: 80px;
    height: 80px;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}


.ctas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
}
.cta {
  width: 25%;
  background: gold;
  border: 2px solid #303030;
  margin: 1em 0 0;
  padding: 0 1em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.cta > p, .cta:hover > p {
  text-decoration: none;
}
.cta-icon {
  height: 2em;
  margin-right: 1em;
}
.cta strong {
  font-variant: small-caps;
  font-size: 1.4em;
}
.cta:hover {
  background: #303030;
  color: gold;
}


.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.two-columns > div {
  width: 47%;
}
@media only screen and (max-width: 800px) {
  .two-columns {
    flex-direction: column;
  }
  .two-columns > div {
    width: auto;
  }
  .ctas {
    flex-direction: column;
  }
  .cta {
    width: auto;
  }
}

.item {
  display: flex;
  gap: 1em;
  width: 100%;
}
.item__day {
  flex-grow: 1;
  font-weight: bold;
  border-bottom: #303030 dotted 1px;
  width: 10em;
}
.item__morning, .item__afternoon {
  border-bottom: #303030 solid 1px;
  min-width: 6em;
  text-align: center;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a:hover > * {
  text-decoration: underline;
}
